:root {
  --text-color: #000;
  --primary-color: #fafafa;
  --header-color: #083e9e;
  --container-color: #f3f3f3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  color: #111;
  line-height: 1.7;
  background-color: var(--primary-color);
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../fonts/Montserrat-Regular.ttf");
}

a {
  text-decoration: none;
}

img {
  width: 19px;
  height: 19px;
}

.content {
  margin-left: 270px;
  padding: 10px 20px;
  max-height: 1000px;
  max-width: 1100px;
  overflow: visible;
}

.grid-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 9px;
  width: auto;
}
/* SIDE NAV */
.side-nav {
  padding: 30px;
  width: 250px;
  background-color: #fff;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.6);
  position: fixed;
  height: 100%;
  overflow: auto;
}
.side-nav h3 {
  font-size: 27px;
  color: var(--header-color);
  text-decoration: underline;
}

.side-nav ul {
  list-style-type: none;
}
.side-nav ul li {
  margin: 29px 0;
}

.side-nav a {
  margin: auto;
  padding: 10px;
  color: #111;
}

.side-nav a.hover:hover {
  font-weight: 555;
}
.side-nav .create .button {
  font-size: 17px;
  display: inline-block;
  background-color: var(--header-color);
  border: none;
  color: #fff;
  padding: 5px 29px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(36, 38, 163, 0.5);
  transition: transform 1s ease-in-out;
}

.side-nav .create .button:hover {
  transform: scale(1.1);
}
.side-nav .logout {
  margin-top: 2.3rem;
}
.side-nav img.logout-icon {
  width: 15px;
  height: 12px;
}

/* SEARCH AND SOCIAL STYLING */
.search {
  height: 100px;
}
.search .grid {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.search .form {
  justify-self: flex-start;
}

.search .social-user {
  justify-self: flex-end;
}

.search .form input {
  background-color: #eef1f6;
  padding: 8px 50px;
  border-radius: 5px;
  border: 0.75px solid #808b96;
}

.search .form input:focus {
  outline: none;
}

.search .social {
  display: grid;
  grid-template-columns: 55px 55px 250px;
  width: auto;
  gap: 8px;
  margin: 0;
}
.social .message,
.social .bell {
  margin: auto;
  text-align: center;
  width: auto;
  padding: 6px 8px;
  background-color: #eef1f6;
  border: 0.75px solid #808b96;
  border-radius: 5px;
}

.search .message img,
.search .bell img {
  justify-content: center;
}

.search .user {
  display: flex;
  padding-top: 8px;
}

.search .user img {
  margin: 0 10px;
  width: 50px;
  height: 38px;
  border-radius: 5px;
}
.search .user p {
  line-height: 1.3;
}
.search .user .name {
  font-weight: bold;
}
.search .user .email {
  font-size: 14px;
}

/* INVESTMENT SECTION  */
.invest-1 .grid {
  display: grid;
  grid-template-columns: 4fr 3fr 2fr;
}
.invest-1 .grid > *:nth-child(1),
.invest-1 .grid > *:nth-child(3),
.invest-1 .grid > *:nth-child(4) {
  grid-column: 1 / span 2;
}
.invest-1 .banking {
  margin: 10px 10px;
  padding: 0 10px;
}
.invest-1 .banking h4 {
  font-size: 20px;
  font-weight: 600;
  color: var(--header-color);
}
.invest-1 .banking p {
  line-height: 1;
  font-size: 15px;
}

.invest-1 .course-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.invest-1 .course-grid .my-content {
  width: 100%;
  height: 100%;
  margin: 20px 15px;
}

.invest-1 .my-content .box {
  width: 100%;
  margin: 0;
  padding: 15px 15px;
  border-radius: 50%;
  background-color: #f3f3f3;
  text-align: center;
}
.invest-1 .my-content p {
  text-align: center;
  margin: 12px 0;
}
.invest-1 img {
  width: 50px;
  height: 50px;
}

/* OUR  lADERBOARD & USERS  STYLING */
.invest-1 .leaders {
  margin: 10px 60px;
  padding: 0 40px;
}

.invest-1 .user-1 {
  display: flex;
  margin: 9px 0;
}

.invest-1 .user-1 img {
  margin: 0 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-1 .avatar-1 {
  border: 3px solid #ffc727;
}

.user-1 .avatar-2 {
  border: 3px solid #083e9e;
}

.user-1 .avatar-3 {
  border: 3px solid #ffc727bf;
}

.user-1 .avatar-4 {
  border: 3px solid #bc8c03;
}

.user-1 .avatar-5 {
  border: 3px solid #407bff;
}
.user-1 p {
  line-height: 1.1;
  margin: 10px 8px;
}
.user-1 .id-user {
  font-size: 15px;
  font-weight: bold;
}
.user-1 .point {
  font-size: 11px;
}

@media screen and (max-width: 700px) {
  .invest-1 .course-grid {
    flex-wrap: wrap;
  }
}
